Q1. Write a program that accepts 5 integers from the user. Store those integers as part of list. Output the following without using any of the built-in fuction available : <br>
    (a) square of all the integers in the list <br>
    (b) sum of all the integers in the list    <br>
    (c) product of all the integers in the list <br>

In [25]:
num_count=5
list_value=[]
for item in range(num_count):
    list_value.append(int(input("Enter The Number")))

print(list_value)

sum_val,square_val,mul_val=0,[],1

for item in list_value:
    sum_val=sum_val+item
    mul_val=mul_val*item
    square_val.append(item**2)

print("Sum of all elemnets",sum_val)
print("Square of all elements",square_val)
print("Multiplication of all elements",mul_val)

Enter The Number 4
Enter The Number 6
Enter The Number 3
Enter The Number 2
Enter The Number 8

[4, 6, 3, 2, 8]
Sum of all elemnets 23
Square of all elements [16, 36, 9, 4, 64]
Multiplication of all elements 1152

Q2. Write a program that will reverse the elements of the list without using any built-in function.

In [20]:
list_mine=[12,34,21,6,7,8,45]
#method 1:
print(list_mine[::-1])

#method 2:
new_list=[]
for item in range(len(list_mine)-1,-1,-1):
    new_list.append(list_mine[item])

print(new_list)

[45, 8, 7, 6, 21, 34, 12]
[45, 8, 7, 6, 21, 34, 12]

Q3. Start with the list [ 8, 9 , 10]. Do the following :<br>
    (a) Set the second entry to 17 <br>
    (b) Add 4,5, and 6 to the end of list<br>
    (c) Remove the first entry from the list<br>
    (d) Double the list<br>
    (e) Insert 25 at the index 3 <br><br>
    
    The final list should look like [17, 10, 4, 25, 5, 6, 17, 10, 4, 5, 6 ]

In [18]:
my_list=[8,9,10] #List Initialize

#a
my_list[1]=17
print(my_list) #[8,17,10]

#b
my_list.append(4)
my_list.append(5)
my_list.append(6)
print(my_list) #[8, 17, 10, 4, 5, 6]

#c
my_list.remove(my_list[0])
print(my_list) #[17, 10, 4, 5, 6]

#d
my_list=my_list*2
print(my_list) #[17, 10, 4, 5, 6, 17, 10, 4, 5, 6]

#e
my_list.insert(3,25)
print(my_list) #[17, 10, 4, 25, 5, 6, 17, 10, 4, 5, 6]

[8, 17, 10]
[8, 17, 10, 4, 5, 6]
[17, 10, 4, 5, 6]
[17, 10, 4, 5, 6, 17, 10, 4, 5, 6]
[17, 10, 4, 25, 5, 6, 17, 10, 4, 5, 6]

Q2. Ask a use to enter a sentence
(a) Print out the third word of sentence
(b) Print out every second word of sentence

In [41]:
sentence=input("Enter The Senetence")

list_words=sentence.split(" ")

if len(list_words)>=3:
    print(list_words[2])
else:
    print("No third Word Present")


print(list_words[::2])

Enter The Senetence hi i

No third Word Present
['hi']

Q3. Create the following lists using a for loop.<br>
    (a) A list consisting of the integers 0 through 49<br>
    (b) A list containing the squares of integers 1 through 50 <br>
    (c) The list ['aa', 'bb', 'cc'.....] that ends with 26 th letter 'z'.

In [45]:
int_list=[x for x in range(50)]
print(int_list)
print()

square_list=[pow(x,2) for x in range(1,51)]
print(square_list)
print()

alpha_list=[(chr(x+96))*2 for x in range(1,27)]
print(alpha_list)
print()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500]

['aa', 'bb', 'cc', 'dd', 'ee', 'ff', 'gg', 'hh', 'ii', 'jj', 'kk', 'll', 'mm', 'nn', 'oo', 'pp', 'qq', 'rr', 'ss', 'tt', 'uu', 'vv', 'ww', 'xx', 'yy', 'zz']

Q4. Write a program that counts the number of occurances of word in a sentence entered by user without using built in function.

In [47]:
sentence=input("Enter The sentece to chck word count")
list_words=sentence.split()
print(list_words)

for item in set(list_words):
    print(item,"->",list_words.count(item))

Enter The sentece to chck word count hi i am arijit and i am larning python list right now

['hi', 'i', 'am', 'arijit', 'and', 'i', 'am', 'larning', 'python', 'list', 'right', 'now']
arijit -> 1
larning -> 1
i -> 2
now -> 1
and -> 1
list -> 1
hi -> 1
right -> 1
am -> 2
python -> 1

Q5. Ask a user to enter a list of strings. Create a new list that consists of those strings with their first characters removed.

In [49]:
sentence_count=2

original,new=[],[]

for item in range(sentence_count):
    original.append(input("Enter the string"))

for item1 in range(sentence_count):
    new.append(original[item1][1:])

for item2 in range(sentence_count):
    print("Original:",original[item2],"---->","New:",new[item2])

Enter the string Arijit
Enter the string Basu

Original: Arijit ----> New: rijit
Original: Basu ----> New: asu

Q1. Write a program that accepts 5 lists from the user, each one of which contains three values in it assignment marks, midsem marks and compre marks. <br>
    (a) Compute the total marks obtained by each student <br>
    (b) Print out the average of the class.

In [63]:
numbers=[]
count=5
total=[]
for item in range(1,count+1):
    val=input("Enter 3 marks separated by space")
    numbers.append([int(x) for x in val.split(" ")])

for c in range(1,count+1):
    print("User",c,"Numbers",numbers[c-1],"and total",sum(numbers[c-1]))
    total.append(sum(numbers[c-1]))

print("Total number of class",sum(total))
print("Average Number of class",sum(total)/count)

Enter 3 marks separated by space 3 4 5
Enter 3 marks separated by space 5 6 7
Enter 3 marks separated by space 8 9 10
Enter 3 marks separated by space 1 2 3
Enter 3 marks separated by space 2 3 4

User 1 Numbers [3, 4, 5] and total 12
User 2 Numbers [5, 6, 7] and total 18
User 3 Numbers [8, 9, 10] and total 27
User 4 Numbers [1, 2, 3] and total 6
User 5 Numbers [2, 3, 4] and total 9
Total number of class 72
Average Number of class 14.4

1)Create a list named my_list that contains the following elements: 10, 20, 30, 40, 50.
2)Write a Python code to access the first and last elements of my_list.
3)Change the second element of my_list to 25.
4)Append the value 60 to my_list.
5)Insert the value 15 at the second position in my_list.
6)Remove the first occurrence of 30 from my_list using the remove() method.
7)Use the pop() method to remove and return the last element from my_list.
8)Sort my_list in ascending order.
9)Reverse the order of elements in my_list.
10)Count how many times the value 20 appears in my_list.
11)Slice my_list to create a new list containing the first three elements.
12)Find the index of the value 40 in my_list.
13)Clear all elements from my_list using the clear() method.
14)Create a nested list called nested_list with two sublists: [1, 2, 3] and [4, 5, 6].
15)Access the element 5 from nested_list.

In [68]:
l=[10,20,30,40,50]
print("First Element",l[0],"last Element",l[-1])

First Element 10 last Element 50

In [69]:
l[1]=25
print(l)

[10, 25, 30, 40, 50]

In [70]:
l.append(60)
print(l)

[10, 25, 30, 40, 50, 60]

In [71]:
l.insert(1,15)
print(l)

[10, 15, 25, 30, 40, 50, 60]

In [72]:
l.remove(30)
print(l)

[10, 15, 25, 40, 50, 60]

In [73]:
l.pop(-1)

60

In [74]:
l.sort()
print(l)

[10, 15, 25, 40, 50]

In [75]:
l.count(20)

0

In [77]:
new=l[:3]
print(new)

[10, 15, 25]

In [78]:
l.index(40)

3

In [80]:
l.clear()
l

[]

In [82]:
new=[[1,2,3],[4,5,6]]
print(new)

[[1, 2, 3], [4, 5, 6]]

In [83]:
new[-1][1]

5