1.Understanding Variables

a.Define a variable in Python. Provide an example of how to create a variable that stores your name.

A variable is a placeholder in the memory where python stores a value for different operations to be performed.It can be of
many types like integer type ,float type,string type ,boolean type or complex type or it many be any of the following type like list 
tuple,sets or dictionary.

In [1]:
#Creation of variable that stores my name
name="Arijit"

b.What is the difference between a variable and a constant? Can we have constants in Python?

The main difference between a variable and a constant is variable value keeps on changing as required in the memory but constant value
remain fixed in the memory ,that can't be changed.

But in python we don't have any provison to store constant value just like we do in any other programming languages,but still
we can define constants using all uppercase letters,like PI=3.14 ,though its value can be hange in python but we should not

2.Working with Different Data Types

a.Create variables of the following types in Python:
1.Integer
2.Float
3.String
4.Boolean

In [2]:
#Integer variable creation:
int_variable=34

#Float variable creation:
float_variable=5.94

#String variable creation:
string_variable='This is a string variable'

#Boolean variable creation:
boolean_variable=True

b.Write a Python script to display the type of each variable you created.

In [3]:
print("Variable: ",int_variable," is of type: ",type(int_variable))  

print("Variable: ",float_variable," is of type: ",type(float_variable)) 

print("Variable: '",string_variable,"' is of type: ",type(string_variable)) 

print("Variable: ",boolean_variable," is of type: ",type(boolean_variable))

Variable:  34  is of type:  <class 'int'>
Variable:  5.94  is of type:  <class 'float'>
Variable: ' This is a string variable ' is of type:  <class 'str'>
Variable:  True  is of type:  <class 'bool'>

3.Arithmetic Operators

a.Explain the following arithmetic operators with examples:
1.Addition (`+`)
2.Subtraction (`-`)
3.Multiplication (``)
4.Division (`/`)
5.Floor Division (`//`)
6.Modulus (`%`)
7.Exponentiation (``)

`+` operator is used to add 2 or more operands .In case of numeric variables it adds the numeric variables,and in case of string variable it as a
concatination operator

In [4]:
#let's say we have two variables of numeric type var1 and var2
var1=12
var2=43
print(var1,"+",var2,"= ",var1+var2)

12 + 43 =  55

In [5]:
#let's say we have two variables of string type var1 and var2
var1="Hi "
var2="Arijit"
print(var1,"+",var2,"= ",var1+var2) # it acts as concatination operator here

Hi  + Arijit =  Hi Arijit

`-` operator is used to substract 2 numeric variables

In [6]:
#let's say we have two variables of numeric type var1 and var2
var1=12
var2=43
print(var2,"-",var1,"= ",var2-var1)

43 - 12 =  31

`*` operator is used to multiply 2 or more operands .In case of numeric variables it amultiply the numeric variables,and in case of string variable it as a
concatination operator where string variale will be added one after the other

In [7]:
#let's say we have two variables of numeric type var1 and var2
var1=12
var2=43
print(var2,"*",var1,"= ",var2*var1)

43 * 12 =  516

In [8]:
#let's say we have variable of string type var1
var1="Hi "
multi=3 # it will multiply string upto given value of times one after the other
print(var1*multi) # it acts as concatination operator here

Hi Hi Hi

`/` operator is used to divide 2 numeric variables will return float value as output value

In [9]:
#let's say we have two variables of numeric type var1 and var2
var1=75
var2=34
print(var1,"/",var2,"= ",var1/var2)

75 / 34 =  2.2058823529411766

`//` operator is used to divide 2 numeric variables will return int value as output where the return value will be the floor value of `/`
means it will return the quotient value

In [10]:
#let's say we have two variables of numeric type var1 and var2
var1=75
var2=34
print(var1,"//",var2,"= ",var1//var2)

75 // 34 =  2

`%` operator is used to divide 2 numeric variables will return the remainder value of the division

In [11]:
#let's say we have two variables of numeric type var1 and var2
var1=75
var2=34
print(var1,"%",var2,"= ",var1%var2)

75 % 34 =  7

`**` exponential operator is used to create the exponential value of a vatiable

In [12]:
#let's say we have variable of numeric type var1 
var1=5
expo=3 # power value
print(var1,"**",expo,"= ",var1**expo)

5 ** 3 =  125

b.Write a Python script to calculate the area of a rectangle using variables `length` and `width` with values 5 and 10, respectively. Use the multiplication operator.

In [13]:
#Area of a rectangle:
length_given=5
width_given=10
print("Area of rectangle of length:",length_given,"unit and Width:",width_given,"unit is: ",length_given*width_given," unit^2")

Area of rectangle of length: 5 unit and Width: 10 unit is:  50  unit^2

4.Comparison and Logical Operators

a.Explain the following comparison operators with examples:
1.Equal to (`==`)
2.Not equal to (`!=`)
3.Greater than (`>`)
4.Less than (`<`)
5.Greater than or equal to (`>=`)
6.Less than or equal to (`<=`)

`==` operator is used to compare two variable values are equal or not .
`!=` operator is used to compare two variable values have different values or not.
`>` operator is used to check whether one of the variable is greater than the other variable or not
`>=` operator is used to check whether one of the variable is greater than or equal to the other variable or not
`<` operator is used to check whether one of the variable is less than the other variable or not
`<=` operator is used to check whether one of the variable is less than or equal to the other variable or not

All of the opeartor mentioned above returned True or False As its o/p value

In [14]:
# lets consider we have two variables num1 and num2 with a value of 87,32 respectively
num1,num2=87,32
print(num1,'>',num2,':',num1>num2)
print(num1,'>=',num2,':',num1>=num2)
print(num1,'<',num2,':',num1<num2)
print(num2,'<=',num1,':',num2<=num1)
print(num1,'==',num2,':',num1==num2)
print(num1,'!=',num2,':',num1!=num2)

87 > 32 : True
87 >= 32 : True
87 < 32 : False
32 <= 87 : True
87 == 32 : False
87 != 32 : True

b.Using logical operators (`and`, `or`, `not`), write a Python script that checks if a number is positive and even.

In [15]:
#let's consider two variable num1=7
num1=10
if not(num1>0):
    print(num1,"is a negetive number")
elif (num1>0) and (num1%2==0):
    print(num1," is positive and even")
elif (num1>0) or (num1%2==0):
    print(num1,"is either positive or even")
else:
    print()

10  is positive and even

5.Type Casting in Python

a.What is type casting? Explain the difference between implicit and explicit type casting with examples.

Type casting is conversion of one data type to other dta type in python.
There are two types of type casting available in python
1.implicit type casting 2.explicit type casting
in case of implicit type casting python automatically converts the data type and in case of explicit type casting we have to manually convert the data type we need.

In [16]:
# lets say we have a integer variable units and a float variable price_per_unit 
units=5
price_per_unit=5.87
# Total price=units* price_per_unit
total_price=units*price_per_unit # o/p will be float value not a integer 
print(total_price)
# the above opertion  of type casting is done by python internally so it is called implicit type casting

29.35

In [18]:
#now lets consider another example where user will input dynmaic integer value using input()

var_int=input("Enter the integer value")
''' by default the above opertion stor string value in var_int,we can't do any numeric operation on this variable as it is string value
So we need to convert manually the value coming form input() into integer value
'''
print(var_int, 'is of type',type(var_int))

var_int_new=int(input("Enter The integer value"))
print(var_int_new, 'is of type',type(var_int_new))

Enter the integer value 7

7 is of type <class 'str'>

Enter The integer value 9

9 is of type <class 'int'>

6.Practical Exercise: Mini Calculator

Write a Python script that asks the user to input two numbers and then:
1.Adds the two numbers and prints the result.
2.Subtracts the second number from the first and prints the result.
3.Multiplies the two numbers and prints the result.
4.Divides the first number by the second and prints the result (handle division by zero).
5.Converts the sum of the numbers to a string and prints the type of the result.

In [19]:
num1=int(input("Enter the first number"))
num2=int(input("Enter the second number"))

print(num1,'+',num2,'=',num1+num2)
print(num2,'-',num1,'=',num2-num1)
print(num2,'*',num1,'=',num2*num1)

if num2==0 :
    print("Can't divide as num2 value is 0")
else:
    print(num1,'/',num2,'=',num1/num2)

print(num1,'+',num2,'=',str(num1+num2))
print(type(str(num1+num2)))

Enter the first number 6
Enter the second number 9

6 + 9 = 15
9 - 6 = 3
9 * 6 = 54
6 / 9 = 0.6666666666666666
6 + 9 = 15
<class 'str'>